<div class="container mt-5">
    <div class="row">
        <h1>Multiple Modules in Angular Project</h1>

        <div class="col-lg-12 mt-3">
            <div >
                <button class="btn btn-primary mx-3" routerLink="">Home</button>
                <button class="btn btn-primary mx-3" routerLink="/eager/child1">Eager Child 1</button>
                <button class="btn btn-primary mx-3" routerLink="/eager/child2">Eager Child 2</button>
                <button class="btn btn-primary mx-3" routerLink="/lazy/child1">Lazy Loading Child 1</button>
                <button class="btn btn-primary mx-3" routerLink="/lazy/child2">Lazy Loading Child 2</button>
            </div>
        </div>
    </div>
</div>

<router-outlet> </router-outlet>